
HdModule/.idea/

HdModule/.gradle/

*.iml

modules/library/build/
modules/frame/build/


HdAndroid/
.gradle/
HdAndroid/
.idea/
HdAndroid/build/

 
HdAndroid/api/
.gradle/
HdAndroid/api/
.idea/
HdAndroid/api/build/

HdAndroid/app/
.gradle/
HdAndroid/app/
.idea/
HdAndroid/app/build/

HdAndroid/camcomnamecard/
.gradle/
HdAndroid/camcomnamecard/
.idea/
HdAndroid/camcomnamecard/build/


HdAndroid/data/
.gradle/
HdAndroid/data/
.idea/
HdAndroid/data/build/

HdAndroid/domain/
.gradle/
HdAndroid/domain/
.idea/
HdAndroid/domain/build/

HdAndroid/net/
.gradle/
HdAndroid/net/
.idea/
HdAndroid/net/build/


 
HdAndroid/NetWork/build/

 
HdAndroid/PushSDK/build/

 
HdAndroid/PushSDK_no_op/build/

HdAndroid/testnamecard/build/

HdAndroid/umenganalysis/build/

HdAndroid/zxing/build/

HdAndroid/zxing_no_op/build/
HdAndroid/xunfeinamecard/build/