<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.giants3.hd.android"
    android:versionCode="3"
    android:versionName="v_1.0.3">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".HdApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.ProductListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ProductDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WorkFlowMessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.UpdatePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.OrderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MaterialDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.QuotationDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activity.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.giants3.hd.android.activity.BaseActivity" />
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WorkFlowMainActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="landscape"
            android:parentActivityName=".activity.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.giants3.hd.android.activity.BaseActivity" />
        </activity>
        <activity
            android:name=".activity.ImageViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LongTextActivity"
            android:label="@string/title_activity_long_text"
            android:theme="@style/AppTheme.NoActionBarDialog" />
        <activity
            android:name=".activity.ProductMaterialActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MaterialSelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProductWageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProductProcessSelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProductPaintActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WorkFlowReportActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WorkFlowListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WorkFlowOrderItemMemoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.OrderItemWorkFlowMessageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.OrderItemWorkFlowMaterialActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service android:name=".helper.AppDownloadService" />

        <activity
            android:name=".activity.WorkFlowMessageReceiveActivity"
            android:label="@string/title_activity_work_flow_message_receive"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57a1e715e0f55a37b8004434" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="032395580934503e36334cf10bff7b84" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <activity
            android:name=".activity.AppQuotationActivity"
            android:label="@string/title_activity_app_quotation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CustomerEditActivity"
            android:label="@string/title_activity_customer_edit"
            android:theme="@style/AppTheme.NoActionBar"

            >

        </activity>

        <activity
            android:name=".activity.ErpWorkFlowItemActivity"
            android:label="@string/title_activity_customer_edit"
            android:theme="@style/AppTheme.NoActionBar"

            >

        </activity>






        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"></meta-data>

        <!--所有嵌套依赖的支持包配置，全部替换为默认配置，避免support编译版本不一致问题。-->
        <meta-data android:name="android.support.VERSION"  tools:replace="android:value" android:value="${ANDROID_SUPPORT_VERSION}"/>

    </application>

</manifest>